# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
build/
dist/
.eggs/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Entornos y secretos
.env
.env.*
!.env.example

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
